api.priveestate.es {
    reverse_proxy app:5000
    header {
        Access-Control-Allow-Methods GET,POST,PUT,DELETE,OPTIONS
        Access-Control-Allow-Headers *
    }
}

priveestate.es {
    root * /var/www/dist
    try_files {path} /index.html
    file_server
    header {
        Cache-Control "public, max-age=31536000, immutable"
    }
}
