services:
  db:
    image: postgres:16-alpine
    container_name: alvaro-postgres-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: alvaaro_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
  app:
    build: .
    container_name: alvaro-server
    restart: always
    ports: 
      - "2000:3000"
    env_file:
      - .env
    depends_on:
      - db
volumes:
  db_data:
