services:
 db:
   image: postgres:16
   container_name: alvaro_container
   restart: always
   environment:
     POSTGRES_USER: postgres
     POSTGRES_PASSWORD: postgres
     POSTGRES_DB: alvaro_db
   ports:
     - '5432:5432'
   volumes:
     - postgres_data:/var/lib/postgresql/data


volumes:
 postgres_data:




