name: CI/CD Pipeline for Dockerized Application

on:
  push:
    branches:
      - dev

env:
  IMAGE_NAME: imranwebstudio/alvaro-server:latest

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t ${{secrets.DOCKER_USERNAME}}/alvaro-server:latest .

      - name: Push Docker image to Docker Hub
        run: |
            docker push ${{secrets.DOCKER_USERNAME}}/alvaro-server:latest
        
      - name: SSH into VPS and deploy
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.VPS_HOST }}
          username: root
          password: ${{ secrets.VPS_PASSWORD }}
          script: | 
            docker compose down
            docker compose pull
            docker compose up -d
      - name: Verify Docker Compose status
        run: |
            if docker-compose ps | grep -q "Exit"; then
            echo "Error: Docker containers are not running properly.";
            exit 1;
            fi